.fondo-rosa {
background: linear-gradient(to bottom right, #530060, #B1077B) ;
height:100vh;
}

.logo-white {
  width: 25%;
  margin-left: 18vh;
  margin-top: 45vh;
}

.logo-pink {
  width: 25%;
  margin-left: 18vh;
  margin-top: 45vh;
}

.car {
  height:80vh;

}

.center {
  text-align: center;
}

.color-icon {
  color: #B1077B;
}

.banderitas {
  width: 200px;
  height: 30px;
  background-color: pink;
}

#filter {
  width: 200px;
  color: black;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.car1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.separation {
  margin-right: 5vh;
}
