<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>log-in</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="../css/estilos.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col s1 ">
          <i class="large material-icons color-icon">chevron_left</i>
        </div>
        <div class="col s11 center">
          <p>Sing Up</p>
        </div>
      </div>
      <div class="row">
        <div class="col s12 center">
            <p>Join now for free ride credit</p>
        </div>
      </div>
      <div class="row">
        <div class="col s4 banderitas">
            <select id="filter">
                  <option>Selecciona una sede</option>
                  <option value="AQP" data-sede="AQP" data-generacion="2016-2">Arequipa, 2016-2</option>
                  <option value="AQP" data-sede="AQP" data-generacion="2017-1">Arequipa, 2017-1</option>
                  <option value="CDMX" data-sede="CDMX" data-generacion="2017-1">CDMX, 2017-1</option>
              </select>
        </div>
        <div class="col s8">
          <input type="text" name="" value="" placeholder="55">
        </div>
      </div>
      <div class="row">
        <div class="col s12 center">
            <p>We'll send a text to verify your phone</p>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <a class="btn-large disabled">Next</a>
        </div>


      </div>

      <select id="filter">
            <option>Selecciona una opción</option>
            <option value="" data=""><img src="../assets/images/mexico.png" alt=""></option>
            <option value="" data=""><img src="../assets/images/brazil.png" alt=""></option>
            <option value="" data=""><img src="../assets/images/spain.png" alt=""></option>
            <option value="" data=""><img src="../assets/images/united.png" alt=""></option>
      </select>


    </div>
     <script type="text/javascript"src="../js/app.js" ></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>


  </body>
</html>
